version: "3.9"

services:
  vue-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: contact-book-frontend
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true
